extends ../layout

block content
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th 用户名
            th 密码
            th(colspan="3") 操作

        tbody
          each item in users
            tr(id="item-id-#{item._id}")
              td #{item.name}
              td #{item.password}
              td: a(target="_blank",href="../movie/#{item._id}") 查看
              td: a(target="_blank",href="../admin/update/#{item._id}") 修改
              td
                button.btn.btn-danger.del(type="button",data-id="#{item._id}") 删除
